name: 00 - Introdução

on:
  workflow_dispatch:

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        run: echo "Hello World!"
      - name: Failed step
        run: |
          echo "Falhando..."
          exit 1
      - name: Tchau
        run: |
          echo "Tchau"