name: Utilizando cache

on:
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Download cache
        id: cache
        uses: actions/cache@v4
        with:
          key: ${{ hashFiles('package.json') }}
          path: node-modules
      - name: Instalar dependencias
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        run: npm ci
      - name: Build
        run: npm run test
  # load-tests:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Setup node
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 20.x
  #     - name: Instalar dependencias
  #       run: npm ci
  #     - name: Load Teste
  #       run: echo "Running load tests..."
  # build:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Setup node
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 20.x
  #     - name: Instalar dependencias
  #       run: npm ci
  #     - name: Build
  #       run: npm run build